<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Entries</title>
</head>

<body>

<script
        src="/js/guestbook.js">
</script>
<link href="https://fonts.googleapis.com/css?family=Muli|Ovo" rel="stylesheet">
<link href="/css/guestbook.css" rel="stylesheet">

<!-- Manage Guestbook Page -->
<div class="container">
    <div class="full">
        <div class="guestbook">
            <h1>Manage Your Guestbook</h1>
            <div class="entry manage-entry" th:each="entry: ${entries}">
                    <div class="entry-left">
                        <div class="entry-info">
                            <p><span class="author" th:text="${entry.name}"/> |
                                <span class="date" th:text="${#dates.format(entry.createdOn, 'dd-MM-yyyy')}"/> |
                                <span class="time" th:text="${#dates.format(entry.createdOn,'HH:mm')}"/></p>
                        </div>
                        <div class="entry-text">
                            <p th:text="${entry.text}"/>
                        </div>
                    </div>
                        <div class="entry-options">
                            <img class="icon"
                                 src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/new-24-512.png">
                            <a th:href="@{/delete(id=${entry.id})}"><img class="icon"
                                                                         src="https://cdn3.iconfinder.com/data/icons/edition/100/trashcan-512.png"/></a>
                        </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>