<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script
        src="/js/guestbook.js">
</script>
<link href="https://fonts.googleapis.com/css?family=Muli|Ovo" rel="stylesheet">
<link href="/css/guestbook.css" rel="stylesheet">

<!-- Sign Guestbook Page -->
<div class="container show">
    <h1>Sign The Guestbook</h1>
    <form action="#" th:action="@{/updateEntry}" th:object="${entry}" method="post">
    <input type="text" th:field="*{name}" placeholder="Full Name" class="form-element short" disabled/>
    <textarea class="form-element" name="message" rows="5" maxlength="100" cols="30" placeholder="Enter Your Message Here"
              th:field="*{text}"/>
    <input class="form-button" type="submit" value="Submit">
    <input class="form-button" type="reset" value="Reset Form">
</form>
</div>
</body>
</html>